<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Cursed Club</title>
        <link rel="stylesheet" href="/static/style.css">
        <link href="https://fonts.googleapis.com/css2?family=UnifrankturCook:wght@700&display=swap" rel="stylesheet">
    </head>
<body>
    <div class="overlay">
        <h1 class="main-title">Cursed.Club</h1>
        <div class="sub-banner">Welcome To The Underground</div>
    
        <div class="links">
            <a href="https://instagram.com/s4lcurse" target="_blank">Instagram</a>
            <a href="https://music.apple.com/us/artist/cursed-corpse/1713404276" target="_blank">Apple Music</a>
        </div>
    </div>
</body>
</html>